    .main-search-container {
        margin: 0;
        max-width: 1955px;





    }

    .search-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 16px;
    }

    .search-input {
        background-color: #242424;
        color: #fff !important;
        height: 48px;
        border: none;
        width: 340px;
        padding: 0 20px;
        border-radius: 500px;
    }