.main-search-container {
    margin: 0;
    max-width: 1955px;
    grid-gap: 15px;
    display: grid;
    grid-template-columns: repeat(minmax(0, 1fr));


    .add1-to-playlist-btn {
        padding-block: 3px;
        padding-inline: 15px;
        border: 1px solid var(--essential-subdued, #878787);
        color: #fff;
        transition-property: background-color, border-color, color, box-shadow, filter, transform;
        background-color: transparent;
        border-radius: 500px;
        font-size: 0.8125rem;
        font-weight: 700;
    }

    .loading{
        >img{
            height: 59px;
            width: 59px;
        }
            
    }

}

.search-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // padding-bottom: 16px;
    padding: 16px 32px;
}

.search-input {
    background-color: #242424;
    color: #fff !important;
    height: 48px;
    border: none;
    padding: 0 20px;
    border-radius: 500px;
}

.browse-all {
    width: 100%;
}

@media (max-width: 600px) {
    .genre-list-main-container {
        .genre-preview {
            height: 70px;
            width: 170px;

            img {
                height: 40px;
                width: 40px;
            }

            span {
                font-size: 0.7rem;
            }
        }

        .search-input {
            width: unset;
        }
    }
}

@media (min-width: 600px) {
    .genre-preview {
        height: 200px;
        width: 200px;

        img {
            height: 100px;
            width: 100px;
        }

        span {
            font-size: 1.5rem;
        }
    }

    .search-input {
        width: 340px;
    }
}

// .genre-list-main-container {
//     display: flex;
//     margin-bottom: 16px;
//     min-height: 300px;
//     min-width: 100%;
//     position: relative;
//     column-width: 193px;
//     column-count: 3;
//     grid-gap: 18px;
//     flex-direction: row;
//     flex-wrap: wrap;

//     .genre-container {

//         .text-decoration {
//             border: none;
//             border-radius: 8px;
//             overflow: hidden;
//             position: relative;
//             width: 100%;

//             .genre-preview {
//                 height: 200px;
//                 width: 200px;
//                 background-color: green;
//                 border-radius: 8px;

//                 span {
//                     font-size: 1.5rem;
//                     padding: 16px;
//                     color: #fff;
//                     // position: absolute;
//                 }
//             }
//         }
//     }
// }

.genre-list-main-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

    // 
    .genre-preview {
        background-color: green;
        border-radius: 8px;
        overflow: hidden;
        position: relative;

        img {
            bottom: 0;
            position: absolute;
            right: 0;
            transform: rotate(25deg) translate(18%, -2%);
        }

        span {
            padding: 16px;
            color: #fff;
            justify-items: center;
            display: flex;
            // position: absolute;
        }

   
    }
}