.home-app-container {
    font-size: 1rem;
    overflow-y: auto;

    background-color: $sec-clr;

    // .app-home {
    //     padding: 10px;
    // }
}

.Toastify__close-button{
 display:none
}

.Toastify__progress-bar--info {
    display: none;
}

.Toastify__progress-bar{
    display: none;
}
.Toastify__toast{
    background-color: #0d72ea;
    color: #fff;
    margin-bottom: 6rem;
}

.Tostift_Toastify__toast-body{
    // font-family: 1rem;
}

.login-page{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url(../../assets/img/login-blur.jpg);
}