.home-app-container {
    font-size: 1rem;
    overflow-y: auto;

    background-color: $sec-clr;

    .app-home {
        padding-bottom: 20px;
    }
}

.Toastify__close-button{
 display:none
}

.Toastify__progress-bar--info {
    display: none;
}

.Toastify__progress-bar{
    display: none;
}
.Toastify__toast{
    background-color: #0d72ea;
    color: #fff;
    margin-bottom: 6rem;
}

.Tostift_Toastify__toast-body{
    // font-family: 1rem;
}
