.main-details-container {
    // // padding: 0 32px;

    .station-details {
        color: #fff;
        display: flex;
        max-width: none;
        overflow: hidden;
        padding-bottom: 24px;
        position: relative;
        background: rgb(28, 26, 26);
        background: linear-gradient(0deg, rgba(28, 26, 26, 1) 9%, rgba(47, 51, 51, 1) 50%);

        .img-container {
            .img-details {
                width: 232px;
                height: 232px;
                margin-top: 1em;
                margin-left: 30px;
                margin-right: 25px;
            }
        }

        .details-container {
            display: flex;
            align-content: space-between;
            flex: 1;
            flex-direction: column;
            justify-content: flex-end;
            z-index: 0;

            .album-name {
                font-size: 4.5rem;
                font-family: CircularSp;
            }

            .creator {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 8px;

                .artist-img-details {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                h3 {
                    margin-left: 20px;
                    margin: 0;
                }
            }
        }
    }

    .details-tool-bar {
        padding: 24px 32px;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;

        >*:not(:last-child) {
            margin-right: 32px;
        }

        .play-song-tool-bar-container {

            button:hover {
                background-color: $hover-green-clr;
            }

            svg {
                fill: black;
                opacity: 1;
            }

            .play-song-tool-bar {
                display: flex;
                align-items: center;
                justify-content: center;
                inline-size: 56px;
                block-size: 56px;
                border-radius: 500px;
                border: none;
                background-color: $not-hover-green-clr;

            }
        }

        .like-tool-bar-container {
            display: flex;

            .like-tool-bar {
                background-color: $transparent;
                border: none;

                span {
                    svg {
                        fill: $sec-txt-clr;
                    }
                }

                :hover {
                    svg {
                        fill: $main-txt-clr;
                    }
                }
            }
        }

        .opts-tool-bar-container {

            .opts-tool-bar {
                background-color: $transparent;
                border: none;

                span {
                    svg {
                        fill: $sec-txt-clr;
                    }
                }

                :hover {
                    svg {
                        fill: $main-txt-clr;
                    }
                }
            }
        }
    }

    .main-details {
        padding: 0;

        padding: 0 32px;

        .details-head-lines {
            display: grid;
            // grid-template-columns: 16px 6fr 4fr 3fr minmax(130px, 1fr);
            grid-template-columns: 16px 6fr 4fr 7fr minmax(90px, 1fr);
            justify-items: flex-start;
            // justify-items: center;
            align-items: center;
            grid-gap: 16px;
            height: 56px;
            border-bottom: 1px solid $sec-txt-clr;
        }

        .song-preview {
            display: grid;
            grid-template-columns: 16px 6fr 4fr 3fr minmax(130px, 1fr);
            justify-items: center;
            align-items: center;
            grid-gap: 16px;
            height: 56px;

            &:hover {
                background-color: $third-clr;
                border-radius: 4px;

                .opts-menu-section {
                    .like-song-preview {
                        visibility: visible;
                    }

                    .add-to-playlist-btn {
                        visibility: visible;
                    }
                }
            }

            .song-number-play {
                display: flex;
                align-items: center;

                .play-song-preview {
                    button {
                        background-color: $transparent;
                        border: none;
                    }

                    svg {
                        width: 16px;
                        height: 16px;
                        fill: $main-txt-clr;
                        opacity: 0.9;
                    }
                }
            }

            .song-list-title-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-self: start;

                .song-list-title {
                    flex-direction: column;
                    padding-right: 8px;
                    column-gap: 8px;
                    display: grid;
                    gap: 4px;
                    // grid-template:
                    //     "song-title song-title"
                    //     "artists-name" /auto 1fr;

                    >* {
                        font-size: 1rem;
                    }
                }

                .song-img {
                    margin-right: 16px;
                    width: 40px;
                    height: 40px;
                }
            }

            .song-duration-container {
                margin: 20px;
            }

            .add-to-liked-btn {
                width: 40px;
                height: 20px;
            }

            .album-name {
                display: flex;
                justify-self: start;
                align-items: center;

                span {
                    font-size: 0.875rem;
                }
            }

            .date-added {
                display: flex;
                justify-self: start;
                align-items: center;

                span {
                    font-size: 0.875rem;
                }
            }

            // .song-preview.shown {
            //     .opts-menu-section {
            //         .like-song-preview-container {
            //             .like-song-preview {
            //                 svg.shown {
            //                     fill: $sec-txt-clr;
            //                 }

            //             }
            //         }
            //     }
            // }

            .opts-menu-section {
                display: flex;
                justify-self: end;
                grid-column: end;
                align-items: center;

                button {
                    background-color: wheat;
                }

                svg {
                    width: 40px;
                    height: 20px;
                }

                .add-to-playlist-btn {
                    visibility: hidden;
                    width: 40px;
                    height: 20px;
                    background-color: $transparent;
                    border: none;
                }

                .like-song-preview {
                    visibility: hidden;
                    width: 40px;
                    height: 20px;
                    background-color: $transparent;
                    border: navajowhite;
                }

                // .like-song-preview {
                //     background-color: $transparent;
                //     border: none;

                //     svg {
                //         fill: $transparent;
                //         width: 16px;
                //         height: 16px;
                //         //For the liked Part fill it with green
                //         // fill: green!!!;
                //     }

                //     svg.shown {
                //         fill: $sec-txt-clr;

                //         &:hover {
                //             fill: $main-txt-clr
                //         }
                //     }

                // }

            }

        }
    }
}