@import '../setup/typography';

* {
	box-sizing: border-box;
}

::selection {
	background-color: $third-txt-clr;
	color: $main-txt-clr;
}

html {
	font-family: spotify-font, open-sans, sans-serif;
	line-height: 1.6;
	color: $main-txt-clr;
}

body {
	font-size: rem(18px);
	margin: 0;
	// max-width: 1024px;
	margin: auto;
	font-family: spotify-font, open-sans, sans-serif;
}

.modal-opened123 {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
	background-color: rgb(0 0 0 / 12%);
}

h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.6em;
	line-height: 1;
}

svg {
	fill: #fff;
	opacity: 0.7;
}

img {
	width: 100%;
}

p {
	margin: 0 0 1em;
}

::-webkit-scrollbar {
	width: 14px;
	height: 22%;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255, 0.3);
	border: 0px none #ffffff;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:active {
	background: rgb(255, 255, 255, 0.65);
}

::-webkit-scrollbar-track {
	background: #c3888800;
	border: 0px dotted #ffffff;
	border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
	background: #654da800;
}

::-webkit-scrollbar-track:active {
	background: #20644e00;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

input[type="range"] {
	font-size: 1.5rem;
	// width: 12.5em;
}

input[type="range"] {
	color: #fff;
	--thumb-height: 0.1em;
	--track-height: 0.125em;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;

	&:hover {
		color: $hover-green-clr;
		--thumb-height: 0.55em;

	}
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #000;
	}

	html::before {
		// background: radial-gradient(circle at center, #101112, #000);
	}

	input[type="range"] {
		// color: #f07167;
		--track-color: rgba(255, 255, 255, 0.1);
	}

	input[type="range"].win10-thumb {
		color: #3a86ff;
	}
}

/* === range commons === */
input[type="range"] {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

input[type="range"]:disabled {
	filter: grayscale(1);
	opacity: 0.3;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	// filter: brightness(100%);
	clip-path: polygon(100% -1px,
			var(--clip-edges) -1px,
			0 var(--clip-top),
			-100vmax var(--clip-top),
			-100vmax var(--clip-bottom),
			0 var(--clip-bottom),
			var(--clip-edges) 100%,
			var(--clip-further) var(--clip-further));
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	background: #fff0;
}

input[type="range"]::-moz-range-thumb {
	background: currentColor;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
}

input[type="range"]::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}