@import '../setup/typography';
* {
    box-sizing: border-box;
}

::selection {
    background-color: $third-txt-clr;
    color: $main-txt-clr;
}

html {
    font-family: open-sans, sans-serif;
    line-height: 1.6;
    color: $main-txt-clr;
}

body {
    font-size: rem(18px);
    margin: 0;
    // max-width: 1024px;
    margin: auto;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}

svg{
    fill: #fff;
    opacity: 0.7;
}

// section,
// main,
// footer {
//     padding: 5px;
// }

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
}

a:hover {
}

a:focus {
}