// Colors
$main-clr: #000000;
$sec-clr: #121212;
$accent-clr: #181818;

//nav-bar
$main-txt-clr: #fff;
$sec-txt-clr: #b3b3b3;

//For the list
$third-clr: #282828;

$third-txt-clr: #a7a7a7;
$transparent: #00000000;



//Main bgc ingredient
$main-bgc-ing1: rgb(28, 26, 26);
$main-bgc-ing2: linear-gradient(0deg, rgba(28, 26, 26, 1) 73%, rgba(47, 51, 51, 1) 100%);


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$column-count: 5;

