.main-footer-container {
    background-color: $third-clr;
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
    width: 100%;
    color: $main-txt-clr;
    padding: 20px;
    text-align: center;

    .media-player-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 50px 2fr 2fr 2fr minmax(120px, 1fr);

        &:hover {
            background-color: $third-clr;
        }
    }

}

.app-header {
    background-color: $third-clr;
    margin: 0;
}
