.app-header{
    margin: 0;
    background-color:#121212;
    padding: 16px;
    padding-inline-end: 16px;
    position: relative;
    cursor: pointer;
     
    .app-header-top-bar{
        min-width: 0;
        pointer-events: none;
        display: flex;
        justify-content: space-between;
    }
  .go-back-btn{
    align-items: center;
    background-color: rgba(0,0,0,.7);
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    position: relative;
    width: 32px;
  }

  .user-icon{
    align-items: center;
    background-color: #535353;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .go-back-btn{
    align-items: center;
    background-color: rgba(0,0,0,.7);
    border: none;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    position: relative;
    width: 32px;

  }
}