.app-footer {
    background-color: $third-clr;
    // grid-row: 3 / 3;
    grid-column: 1 / -1;
    width: 100%;
    color: $main-txt-clr;
    padding: 20px;
    text-align: center;

    // display: block;
    // max-width: none;
    // overflow: hidden;
    // padding-bottom: 24px;
    // position: relative;

    // grid-template-columns: 60%;

    .media-player-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 50px 2fr 2fr 2fr minmax(120px, 1fr);

        &:hover {
            background-color: $third-clr;
        }
    }

}

.app-header {
    background-color: $third-clr;
    margin: 0;
    // grid-row: 2 / 4;
    // grid-column: 3 / 3;
}