.create-station {

    display: flex;
    // flex-direction: column;
    margin-top: 24px;
    font-size: 0.8em;
    border: none;

    >* {
        height: 40px;

    }

    // // :last-child {
    // //     border-bottom: 1px solid black;
    // // }

    .create-station-btn {
        background-color: rgba(41, 206, 93, 0);
        padding: 0;
        flex-grow: 1;
        display: flex;
        text-align: start;
        align-items: center;
        border: none;
        cursor: pointer;
        color: $sec-txt-clr;
        font-family: spotify-font;
        font-size: 1em;
        gap: 16px;

        .create-station-icon {
            width: 24px;
            height: 24px;
            background-color: #fff;
            opacity: 0.7;
            border-radius: 2px;
            display: grid;
            place-items: center;

            svg {
                fill: #000;
            }
        }

        &:hover {
            color: $main-txt-clr;

            .create-station-icon {
                opacity: 1;
            }
        }

    }
}