.phone-modal {
    position: fixed;
    // top: 100vh;
    top: 40px;
    bottom: 0px;
    padding: 12px;
    right: 0;
    left: 0;
    background-color: rgb(96, 96, 88);
    z-index: 80;
    transform: translateY(120%);
    transition: transform .7s;

    img{
        margin-bottom: 20px;
    }

    .phone-modal-header {
        height: 48px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;

        div {
            align-self: center;
        }
    }

    .song-timestamp-left,
    .song-timestamp-right {
        font-size: .8rem;
        color: $sec-txt-clr;
    }

    .song-range-container-phone-mode {
        width: 100%;
        display: flex;

        input {
            width: 100%;
            height: 20px;
        }
    }

    .phone-mode-actions {
        display: flex;
        position: absolute;
        bottom: 30px;
        zoom: 150%;
        gap: 20px;
    }
}

.open-phone-modal {
    top: 0;
    transform: translate(0);
    transition: transform .6s;
}