
.search-list-preview{
    display: grid;
    grid-template-columns: 4fr minmax(120px,1fr);

      .play-song-tool-bar-search{
        button{
            border: none;
        }
        .like-song-preview {
            visibility: hidden;
            background-color: rgba(0, 0, 0, 0);
        }

        .is-liked-song-preview {
            visibility: visible;
            background-color: rgba(0, 0, 0, 0);

            svg {
                width: 16px;
                height: 16px;

                fill: $fill-svg-clr;
            }
        }
      }
   
    
    img{
        width: 40px;
        height: 40px;
    }
    .play-song-btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; 
        width: 40px;
        height: 40px;
        img{
            flex-shrink: 0;
            object-fit: cover;
            object-position: center center;
        }
        .play-song-btn{
            position: absolute;
            display: flex;
            justify-content: center;
            height: 40px;
            width: 40px;
            align-items: center;
            background: rgba(0,0,0,.5);
            border: 0;
            opacity: 0;
        }
    }
    .play-song-title{
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
    }
    .play-song-tool-bar-search{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 4px;
        height: 56px;
        position: relative;
    }
    &:hover{
        // background-color: hsla(0,0%,100%,.3);  
        background-color: hsla(0,0%,100%,.1);
        .play-song-btn{
            opacity: 1;
        }
    }

}