.side-nav {
    background-color: $main-clr;


    .header-logo {
        font-size: 1.5rem;
        color: $main-txt-clr;
    }

    .playlist-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    width: 242px;
    height: 100%;
    padding: 24px;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 16px;

        >li a {
            gap: 16px;
        }
    }

    >* {
        color: white;
    }

    h2 {
        margin-top: 15px;
    }

    a {
        text-decoration: none;
        color: $sec-txt-clr;
    }

    a:hover:not(.header-logo) {
        color: $main-txt-clr;
    }

    a:focus:not(.header-logo) {
        color: $main-txt-clr;
    }

    .like-nav-link {
        font-size: .8em;
        display: flex;
        gap: 16px;

        .like-nav-icon {
            display: grid;
            place-items: center;
            width: 24px;
            height: 24px;
            background: linear-gradient(325deg, rgb(71, 78, 179) 15%, rgb(76 76 115) 68%);
        }
        &:hover{
            svg{
                opacity: 1;
            }
        }
    }

    .like-nav {
        background: linear-gradient(135deg, #450af5, #c4efd9);
        border-radius: 2px;
        height: 100%;
        justify-content: center;
        position: absolute;
        width: 100%;
    }

    .nav-container {

        // margin-top: 30px;

        >* {
            padding: unset;
            margin: unset;
            margin-top: 30px;
            font-size: .8em;
        }

        >a {
            gap: 16px;
        }
    }

    .rr {
        background-color: #282828;
        border: none;
        height: 1px;
        margin: 8pxvar(--left-sidebar-padding-right) 0 var(--left-sidebar-padding-left);
        min-height: 1px;
    }

}

.like-nav-asset {
    height: 40px;
    a {
        flex-grow: 1;
    }
}