.side-nav {
    background-color: $main-clr;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    padding: 10px;
    height: 100%;

    >* {
        color: white;
    }

    h2 {
        margin-top: 15px;
    }

    a {
        text-decoration: none;
        color: $sec-txt-clr;
    }

    a:hover:not(.header-logo) {
        color: $main-txt-clr;
    }

    a:focus:not(.header-logo) {
        color: $main-txt-clr;
    }

    .like-nav-link {
        padding: 8px;
        font-size: .8em;


    }

    .nav-container {
        margin-top: 30px;

        >* {
            margin-bottom: 10px;
            font-size: .8em;
            padding: 5px;
            display: block;

        }
    }

}