.add-to-playlist-modal {
    background-color: #282828;
    display: flex;
    align-items: center;
    position: relative;
    width: 136px;
    z-index: 10;
    flex-direction: column;
    list-style: none;
    padding: 0;

    >* {


        &:hover {
            background-color: $sec-clr;
        }
    }
}