.song-list-opts-menu {
    z-index: 100;
    padding: 4px;
    background-color: #282828;
    border-radius: 6px;
    position: absolute;
    max-width: 350px;
    min-width: 160px;
    overflow-y: auto;
    inset: 0px 0px auto auto;
    margin: 0px;
    list-style: none;
    cursor: default;

    .add-to-playlist-section {
        display: flex;
        align-items: center;

        svg {
            transform: rotate(270deg);
        }
    }

    .create-in-opts-menu {
        display: block;
        margin-top: 0px;

    }

    >* {
        background-color: #282828;
        padding: 12px;
        list-style: none;

        &:hover {
            background-color: $sec-clr;
        }
    }
}

.add-to-playlist-modal {
    z-index: 9999;
    padding: 4px;
    background-color: #282828;
    border-radius: 4px;
    position: absolute;
    max-width: 350px;
    min-width: 160px;
    overflow-y: auto;
    inset: 0px 0px auto auto;
    margin: 0px;
    list-style: none;
    border: none;
    max-height: 500px;
    cursor: default;

    >* {
        padding: 12px;
    }

    >* {

        &:hover {
            background-color: $sec-clr;
        }
    }
}